@import '_constants';

.input-type {
  margin-bottom: 30px;

  .option {
    margin: 0 20px;
    @media (max-width: #{$sm - 1}) {
      margin: 10px 20px;
    }
  }
}

.elements {
  margin-bottom: 20px;
}

.add-element__wrapper {
  display: flex;
  align-items: center;
  height: auto;
}

.calculate {

  &__wrapper {
    margin-top: 40px;

    .taken {
      margin-right: 15px;
      width: 150px;
    }
  }
}
